* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: rgb(32, 32, 32);
}

.card {
    background-color: rgb(12, 12, 12);
    width: 300px;
    height: 450px;
    border-radius: 10px;
    text-transform: uppercase;
    display: block;
}

.title1 {
    color: rgb(148, 148, 148);
    font-size: 15px;
}

.content1 {
    padding-top: 20px;
    padding-left: 50px;
}

.header {
    width: 100%
}

.wrapper {
    max-width: 1200px;
    margin: auto
}

.link {
    display: block;
    padding-top: 20px;
    text-decoration: none;
    color: rgb(231, 231, 231);
}

.link2 {
    display: block;
    padding-top: 20px;
    text-decoration: none;
    color: rgb(231, 231, 231);
}

.link3 {
    display: block;
    padding-top: 20px;
    text-decoration: none;
    color: rgb(231, 231, 231);
}

.link4 {
    display: block;
    padding-top: 20px;
    text-decoration: none;
    color: rgb(231, 231, 231);
}

.link::before {
    content: url('./icons8-alphabetical-sorting-30.png');
    margin-right: 10px;
    flex-direction: column-reverse;
    justify-items: center;
    }

.link2::before {
    content: url('./icons8-bullet-list-48.png');
    margin-right: 10px;
}

.link3::before {
    content: url('./icons8-facebook-like-48.png');
    margin-right: 10px;
}

.link4::before {
    content: url('./icons8-personal-hotspot-30.png');
    margin-right: 10px;
}

.title2 {
    color: rgb(148, 148, 148);
    font-size: 15px;
}

.link5 {
    display: block;
    padding-top: 20px;
    text-decoration: none;
    color: rgb(231, 231, 231);
}

.link6 {
    display: block;
    padding-top: 20px;
    text-decoration: none;
    color: rgb(231, 231, 231);
}

.link5::before {
    content: url('./icons8-save-30.png');
    margin-right: 10px;
}

.link6::before {
    content: url('./icons8-security-lock-64.png');
    margin-right: 10px;
}

.content2 {
    padding-top: 35px;
    padding-left: 50px;
}